# Rust derleme çıktıları
/target/
rust_tests/target/
rust_tests_api/target/
ORYXIS/target/
memory/target/
libraries_opensource/cmdlib/target/

# Rust package lock dosyası
Cargo.lock
rust_tests/Cargo.lock
rust_tests_api/Cargo.lock
ORYXIS/Cargo.lock
memory/Cargo.lock
libraries_opensource/cmdlib/Cargo.lock

**/*.rs.bk

# Python derleme ve kütüphane dosyaları
__pycache__/
*.py[cod]
*$py.class

# Binary ve Kütüphane dosyaları (Az önceki hatanın sebebi bunlardı)
*.lib
*.rlib
*.exe
*.pdb
*.dll
*.so
*.dylib

# Ortam dosyaları
.env
.venv
venv/
.wakatime-project